
.card{
    width: 400px;
    border-radius: 10px;
    
}
.titolo{
  display: flex;  
  justify-content: space-between;
  
}
.star{
    height: 20px;
}
.scatoletta{
    border: 1px solid rgb(173, 170, 170);
    border-radius: 10px 0 0 0;
    width: 47%;
    padding-bottom: 20px;
    text-align: start;
    padding-top: 10px;
    
}
.scatoletta2{
    border: 1px solid rgb(173, 170, 170);
    border-radius: 0 10px 0 0;
    width: 47%;
    padding-bottom: 20px;
    text-align: start;
    padding-top: 10px;
    
}

.scatoletta3{
    border: 1px solid rgb(173, 170, 170);
    width: 94%;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    
}
.row{
    margin-left: 18px;
}
.prenota{
    border-radius: 10px;
    padding: 10px;
    width: 93%;
    background-color: rgb(173, 51, 104);
}
.card-text{
    text-decoration: underline;
}
.costi{
    display: flex !important;
    justify-content: space-between;
}
.totale{
    display: flex;
    justify-content: space-between;
}
.occasione{
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 82%;

}
.diamond{
    margin-left: 40px;
    color: rgb(207, 53, 191);
}