.navbar{
    padding-inline: 180px!important;
}
.underline{
    text-decoration: underline !important;
}
span .bold {
    font-weight: bolder !important;
}
.col.d-flex{
    width: 100% !important;
    z-index: 2 !important;
}
#large{
    width: 50% !important;
    aspect-ratio: 16/9 !important;
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius:  10px !important;
}
.d-flex-column{
    width: 25% !important;
}
.d-flex-column img{
width: 100% !important;
aspect-ratio: 16/9 !important;
object-fit: cover;
z-index: -1 !important;

}
.d-flex-column:last-of-type img:first-of-type{
    border-top-right-radius: 10px !important;
}
.d-flex-column:last-of-type img:last-of-type{
    border-bottom-right-radius: 10px !important;
}
.btn.active.position-absolute{
    transform: translate(490%,-150%);
    z-index: 2;
}
.sx{
    width: 55%;
}
#profilo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.informazioni p:last-of-type{
    text-decoration: underline;
}
.text-secondary-emphasis {
    color: gray !important;
}
.sx.mt-5 p {
    font-size: 15px !important;
    
}
.sx.mt-5 p:last-of-type {
    text-decoration: underline !important;
}
.dormirai{
    margin-top: 20px !important;
}
.troverai{
    margin-top: 20px !important;
}
h6.taglio{
    text-decoration: line-through !important;
}

h6{
    padding: 5%;
}

.line{
    border-bottom: 2px solid rgb(217, 205, 205) !important;
}