/* NAVBAR */
.logo{
    width: 100px;
    height: 50px;
}

.central-navbar li {
    list-style-type: none!important;
}
a {
    color: black;
text-decoration: none!important;
}
.dx-nav ion-icon{
    scale: 1.5;
}
button ion-icon{
    color: grey;
}
.dropdown-toggle::after {
    display:none;
}
.search-icon{
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #FF5A5E !important;
}
p.font {
    font-size: small !important;
    padding-top: 5px !important;
}
.icone:hover{
    border-bottom: 2px solid black !important;
}
.d-flex{
    justify-content:space-around;
    
}
.carousel-control-next-icon{
    fill: black!important;
}



.carousel-inner {
    width: 100%;
}
.carousel__edit {
    padding-block: 15px;
}
#filterButton {
    border: 1px solid lightgrey;
    width: 80px;
    height: 40px;
    padding: 0;   
    border-radius: 20px;
}


.carousel-control-next {
    border: 1px solid black;
    width: 30px;
    margin-right: 100px;
    border-radius: 50px;
    height: 30px;
    margin-top: 5px;
}

.carousel-control-next, .carousel-control-prev{
    width: 3%;
}

/* card */
a{
    text-decoration: none;
}
.card button{
    width: 7.5px!important;
    height: 7.5px!important;
}
.card:hover{
    transform: scale(105%, 105%);
    transition-duration: 0.3s;
    cursor: pointer;
}
.heart{
    z-index: 2;
    right: 0%;
    color: white;
    padding: 5%;
    width: 25px;
    height: 25px;
    fill: rgba(0, 0, 0, 0.342)!important;
    stroke: white!important;
    stroke-width: 5% !important;
}
.heart:hover{
    fill: white!important;
}
.carousel-inner.rounded-3 img{
    aspect-ratio: 1/1;
    object-fit: cover;
}
    
  